services:
  - type: web
    name: fizi-backend
    env: docker
    dockerfilePath: ./python_server/Dockerfile
    dockerContext: ./python_server
    region: oregon
    plan: free
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 5001
      - key: FLASK_ENV
        value: production
